

.search-box {
    padding: 0 2rem;
    // width: 100%;
    grid-area: search;
    
    @media (max-width: 1024) {
    // width: 70%;
    }
    @media (max-width: 768px) {
      width: 100%;
      }
  .search-bar{
    display: block;
    width: 100%;
    padding: 10px;

    appearance: none;
    background: none;
    border: none;
    outline: none;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
    color: #313131;
    font-size: 20px;

    transition: all 0.4s ease-in-out;
    
    &:focus {
      background-color: rgba(255, 255, 255, 0.85);
    }
  }
}
