@import url("./var.css");

.headers {
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-areas: "logo search navbar";
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr 2fr;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.headers .logo-wrapper {
  height: 60px;
  margin-left: 35px;
  grid-area: logo;
}

@media (max-width: 1280px) {
  .headers {
    grid-template-columns: 1fr 2fr 4fr;
  }
}

@media (max-width: 768px) {
  .headers {
    grid-template-areas:
      "logo navbar"
      "search search";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .logo-wrapper {
      // display: none;
      margin-left: 26px;
    }

    // .nav__list {
    //   display: none;

    //   &.active {
    //     display: block;

    //   }
    // }
    
    // .active {
    //     display: grid;
    //   }
  }

  // .headers .nav__list .active {
  //   display: grid;
  //   grid-auto-flow: column;
  //   align-items: center;
  //   height: 100%;
  //   list-style: none;
  //   text-align: center;
  // }
}

.headers .nav__comp {
  height: 100%;
  margin-right: 20px;
  grid-area: navbar;
}

.headers .nav__list {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  height: 100%;
  list-style: none;
  text-align: center;
}

.headers .nav__item a {
  position: relative;
  width: 100px;
  padding: 0 10px;
  font-size: var(--header-fnt-size);
  text-transform: uppercase;
  color: var(--header-fnt-color);
  transition: all 0.3s ease-in-out;
}

.headers .nav__item a:hover {
  color: var(--course-fnt-color);
}

.headers .nav__item a::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -3px;
  border-bottom: 3px solid rgb(187, 0, 0);
  transform: scaleX(0);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.headers .nav__item a:hover::before {
  transform: scaleX(1);
  transform: scaleX(1);
}
